@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$pink: #ef45dc;
$lime: #4eef45;
$pixelFont: 'Press Start 2P', cursive;
$spaceFont: 'Oswald', sans-serif;


@mixin flex(){
  display: flex;
  justify-content: center;
}
@mixin flexColumn(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin linearGradient(){
  background: rgb(239,69,220);
  background: linear-gradient(135deg, rgba(239,69,220,1) 0%, rgba(0,0,0,1) 50%, rgba(78,239,69,1) 100%); 
}

.aboutParent{
  @include flexColumn();
  margin: 0 2rem;
  text-align: center;
}
.aboutParent{
 h1{
  text-shadow: 0 0 1rem $pink;
  border-bottom: .2rem solid $lime;
  font-family: $spaceFont;
 }
}
.aboutParent{
  p{
    font-size: 1.3rem;
    font-weight: 75;
  }
}

.contactMe{
  @include flexColumn();
  font-family: $pixelFont;
}

.contactMe img{
  height: 50%;
  width: 50%;
}

.hero {
  background: '../public/3000.svg';
  background-size: cover;
  aspect-ratio: 1440/540;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  h1{
  color: white;
  text-shadow: 
  0 0 3px #4eef45,
  5px 0 5px #ef45dc,
  0 5px 5px #ef45dc;
  font-family: $pixelFont;
  font-size: 2rem;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.nav{
  padding: 1rem;
  background-color: #ef45dbcc;
  z-index: 1;
}
.nav{
  ul{
    li:hover{
      transform: scale(1.2);
      border-bottom: .2rem solid $lime;
    }
  }
}
.projects{
  @include flexColumn();
  padding: 3rem;
  img{
    margin: 1rem;
  }
  img:hover{
    background-color: white;
    opacity: .7;
  }
}

@media screen and (max-width: 420px){
  .projects img{
    display: none;
  }
  .contactMe {
    font-family: $spaceFont
  }
}