html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

nav{
  position: sticky;
  top: 0;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li{
  cursor: pointer;
  list-style: none;
}

* {
  box-sizing: border-box;
}
.layer{
  background: url('../waves2.svg');
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
